@import "tailwindcss";

@theme {
  --color-btnColor: #FF1168;
	--color-linearFull: #FF6A00;
	--color-linearZero: #EE0979;
	--color-circleOne: rgb(255, 17, 104);
	
	/* Animations */
	--animate-wave: wave 1.2s ease-in-out infinite;
	--animate-spin-slow: spin 8s linear infinite;
}

/* Keyframes */
@keyframes wave {
	0%, 100% {
		transform: scaleY(0.4);
	}
	50% {
		transform: scaleY(1);
	}
	background-clip: text;
	color: transparent;
}


